
 .filler-post{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
 }

 .pstbtn{
  height: 50px;
  width: 160px;
  padding: 10px;
  border-radius: 2px;
  
  cursor: pointer;
  font-weight: 500;
  font-size: 100%;
  float: center;      
  font-family: Arial, Helvetica, sans-serif;
  background: #DAB641;
  margin: 10px 10px 0px 0px;
  color:black;
              
  
 
  
 }

 body {
    background-repeat: no-repeat;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}