

.container{
       /*container  css*/
    padding-top: 4px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    
}
body{
    background-color:darkorange;
}

.cardn{
       /*card  css*/
   
    border-radius: 25px;
    height: 150px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    margin: 10px;
    width: 500px;
    transition: box-shadow .3s;
  
}

.cardn:hover {
       /*card hover css*/
    box-shadow: 0 0  5px 5px rgba(33,33,33,.2); 
  }

.side-square-wrapper{
       /*wrapping  css*/
    height: 150px;
    width: 17%;
    text-align: center;
    background-color: white;
    padding: 40px 4px;
    font-size: 16px;
    color:gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
   
}



.card-body-heading{
       /*body heading css*/
   color:gray;
   font-size: 16px;
   font-weight: 500;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-bottom: 5px;
   
}
.custom-card-body{
       /*custom body card css*/
    height: 150px; 
    background-color: #DCDCDC;
    width: 83%;
    padding: 5px;
    font-size: 14px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
}

.post-text{
    /*sign-in button css*/

    overflow: hidden; 
    white-space: normal; 

    height: 4.8em;  
    text-overflow: -o-ellipsis-lastline; 
}

.trash-button{
    /*Trash button css*/
    float: right;
    padding-right: 10px;
    size: 10px;
    cursor: pointer;
}

.ellipsis{
    /*ellipsing the card*/
   margin-left: 370px;
   color: grey;
    cursor: pointer;
    padding-right: 120px;
    margin-bottom: 4px; 
 
  
}













